<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!--Main Content-->
<main>
<div class="jumbotron">
  <h1 class="display-4"><h1> Welcome to the <%= title %> page</h1>
  <% if (title == "Home ") { %>
     <p>Hey! I'm Layth Quick. This is my first website. On this website you will find this home page; and in the 
        navigation bar you can find the about me, projects, and contact me sections. Thanks for stopping by.</p>
        
      <img src="Assets/PXL_20230820_184937267.jpg" alt="Picture of me" width="445" height="445">
      <img src="Assets/PXL_20230725_182639068.jpg" alt="Picture of me" width="510" height="445">
      <img src="Assets/PXL_20230817_221728001.jpg" alt="Picture of me" width="445" height="445">
  
  <% } %>

  <% if (title == "About") { %>
      <p>It's me again. Like I said, my name is Layth Quick. I am 20 years old; born in Toronto Ontario and I currently attend Ontario Tech University as a second year in the 
        networking and information technology field. I hope to be able to find a career that will support me financially so that I may be able to pursue my passion of traveling
        the world.</p>
      
      <img src="Assets/IMG_20211025_221948_748.jpg" alt="Picture of me on a mountain" width="630" height="465">

    <div id="right-column">
      <video width="650" height="450" controls>
        <source src="Assets/PXL_20231001_170312778.mp4" type="video/mp4">
        <source src="Assets/PXL_20231001_170312778.ogg" type="video/ogg">
      </video>
    </div>
  <% } %>

  <% if (title == "Projects") { %>
      <h2>Python</h2>
    <p>Below is a python project that I worked on in my first year at Ontario tech.</p>

    <article> <iframe src="Assets/Screenshot 2023-11-02 210925.png" width="600" height="450"></iframe> 
    </article>
  <% } %>

  <% if (title == "Contact Me") { %>
    <h2>Contact form</h2>
      <p>Please fill out the form below 
       with your information so we can get in touch. </p>
      <form action="https://formspree.io/f/xleyondl" method="Post">
      <input type="text" name="first" placeholder="First Name" required>  
      <input type="text" name="last" placeholder="Last Name" required>
      <input type="email" name="email" placeholder="Email Address" required>
      <textarea rows="5" cols="60" name="message" placeholder="Enter Message" required></textarea>     
      <button type="Submit">Submit</button>
      </form>
  <% } %>

</div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

